.projectContainer {
    max-width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card-view {
    box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
    color: white !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
  }
  .project-card-view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
  }

.projectCard {
    background-color: #110A18;
    padding: 1.2rem 1rem;
}

.projectCard img {
    width: 100%;
}

.projectTitle {
    color: white;
    padding: 1rem 0;
}

.proDetails p {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.proButtons {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

 @media (max-width: 740px) {
    .projectContainer {
        max-width: 85%;
        margin: auto;
        grid-template-columns: 1fr;
    }
 }